<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Referandum</key>
	<array/>
	<key>15 Temmuz</key>
	<array/>
	<key>Karadeniz Ağzı</key>
	<array/>
	<key>Eyy</key>
	<array/>
	<key>Bunlar</key>
	<array/>
	<key>Ekonomi</key>
	<array/>
	<key>Basın</key>
	<array/>
	<key>Avrupa</key>
	<array/>
	<key>Uluslararası</key>
	<array/>
	<key>Meydan 3</key>
	<array/>
	<key>Meydan 2</key>
	<array/>
	<key>Meydan 1</key>
	<array/>
	<key>Muhalefet</key>
	<array/>
	<key>Meclis</key>
	<array/>
	<key>Genel 3</key>
	<array/>
	<key>Genel 2</key>
	<array/>
	<key>Genel 1</key>
	<array>
		<dict/>
		<string>acaba_bir_tane_agac_diktinizmi_be</string>
	</array>
</dict>
</plist>
